* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
del {
  text-decoration: line-through;
}
body {
  font-family: GT-Eesti, Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: rgb(28, 44, 64);
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
}
input,
textarea,
select {
  font-family: GT-Eesti, Arial, Helvetica, sans-serif;
  font-weight: 400;
}
a {
  color: rgb(28, 44, 64);
}
a:hover,
.submit:hover {
  opacity: 0.85;
}
.thumb {
  display: block;
}
.thumb img {
  display: block;
  width: 100%;
}
p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: GT-Eesti, Arial;
  font-weight: 400;
}
.hidden {
  display: none;
}
br.clear {
  clear: both;
  line-height: 0;
}
.wrapper {
  width: 90%;
  margin: 0px auto;
  max-width: 1040px;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/stylesheet.css") format("woff2"),
    url("./fonts/") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/stylesheet.css") format("woff2"),
    url("./fonts/") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
::placeholder {
  color: rgb(192, 204, 218);
  opacity: 1;
}
:root {
  --main-bg-color: #23d3d3;
  --main-heading-color: #1c2c40;
}
#home {
  background-image: url("./Assets/Vector 279.png");
  height: 100vh;
  background-size: cover;
  z-index: 0;
  position: relative;
}
#home::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0px;
  height: 100vh;
  width: 100%;
  background-image: url("Assets/Subtract.png");
  background-size: cover;
  opacity: 1;
}
#home header {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding: 10px 0px;
  padding: 2px 0px;
  align-items: center;
}
#home header div.logo {
  width: 60px;
}
#home header div.logo a {
}
#home header div.logo a img {
  display: block;
  width: 100%;
}
#home header nav.middle {
}
#home header nav.middle ul {
  display: flex;
  justify-content: space-between;
}
#home header nav.middle ul li {
  margin-left: 26px;
}
#home header nav.middle ul li:first-child {
  margin-left: 0px;
}
#home header nav.middle ul li a {
  font-size: 13px;
  color: #fff;
}
#home header nav.right {
}
#home header nav.right a.button {
  font-size: 13px;
  padding: 9px 22px;
  border-radius: 35px;
  display: inline-block;
  background: rgb(8, 89, 16);
  background: linear-gradient(
    32deg,
    rgba(8, 89, 16, 1) 0%,
    rgba(75, 153, 81, 1) 0%,
    rgba(132, 194, 137, 1) 54%,
    rgba(220, 255, 225, 1) 100%
  );
  color: #fff;
}
#home div.container {
  position: absolute;
  z-index: 2;
  margin-top: 120px;
}
#home div.container h1 {
  font-size: 36px;
  font-weight: bold;
  width: 44%;
  color: rgb(255, 255, 255);
}
#home div.container p {
  margin-top: 20px;
  width: 66%;
  color: rgb(255, 255, 255);
}
#home div.container .button {
  margin-top: 20px;
  font-size: 13px;
  padding: 9px 22px;
  border-radius: 35px;
  display: inline-block;
  background: rgb(8, 89, 16);
  background: linear-gradient(
    32deg,
    rgba(8, 89, 16, 1) 0%,
    rgba(75, 153, 81, 1) 0%,
    rgba(132, 194, 137, 1) 54%,
    rgba(220, 255, 225, 1) 100%
  );
  color: rgb(255, 255, 255);
}
#services {
  position: relative;
  height: 100vh;
  background: url("/Assets/Vector\ 283.png") no-repeat;
  background-size: 70%;
  background-position-x: -170px;
}
#services div.content {
  position: absolute;
  bottom: 325px;
  left: 65px;
  width: 50%;
}
#services div.content h2 {
  font-size: 34px;
  font-weight: 600;
}
#our_services {
  position: relative;
  height: 100vh;
  text-align: center;
}
#our_services h2 {
}
#our_services div.services {
  
}
#our_services div.services ul {
  display: flex;
  justify-content: space-between;
}
#our_services div.services ul li {
  margin-left: 20px;
}
#our_services div.services ul li div.frame {
  width: 110px;

}
#our_services div.services ul li div.frame img {
  width: 100%;
  display: block;
}
#our_services div.services ul li div.picture {
  width: 50px;
}
#our_services div.services ul li div.picture img {
  width: 100%;
  display: block;
}
#our_services div.services ul li h3 {
}
#our_services div.services ul li p {
}
